<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /kisz-calc
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /kisz-calc/index.html [L]

</IfModule>